body {
    background:rgb(190, 190, 190);
}

aside{
    align-items: stretch;
    display:flex;
    flex-shrink: 2;
    height: 50px;
    background:black;
    color: #fff;
    border-bottom: 2px solid #4d4d4d;
}

aside img{
    width: 60px;
    float: left;
    margin-left: 10px;

}

aside h5 {
    margin-top: 12px;
}


aside ul{list-style: none;}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 10px;
    transition: transform .5s ease;
}


aside ul li:hover, aside ul a:hover{
    color:#ff6e00;
    text-decoration: none;
    transform: scale(1.05);
}


body .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75% ;

}

main .features h1 {
        font-size: 50px ;
}
main .features p {max-width: 400px; margin: 20px auto ;}
