body {
    background:rgb(190, 190, 190);
}

aside{
    align-items: stretch;
    display:flex;
    flex-shrink: 2;
    height: 50px;
    background:black;
    color: #fff;
    border-bottom: 3px solid #4d4d4d;
}

aside img{
    width: 60px;
    height: 40px;
    float: left;
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 10px;
}

aside a{
    text-decoration: none;
}

aside h5 {
    color: #fff;
    margin-top: 12px;
    text-decoration:none;
    margin-right: 365px;
    font-family:Georgia, 'Times New Roman', Times, serif
}


aside .navigate a {list-style:none;}
aside .navigate p{
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    transition: transform .5s ease;
    font-family:Georgia, 'Times New Roman', Times, serif

}


aside .navigate p:hover, aside .navigate  a:hover{
    color:#ff6e00;
    text-decoration: none;
    transform: scale(1.05);
}


body .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75% ;

}

main .features h1 {
        font-size: 50px ;
}
main .features p {max-width: 400px; margin: 20px auto ;}
